@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


sup { font-size: 60%; line-height: 0; position: relative; vertical-align: baseline; @apply text-red-900; @apply font-medium;}
sup { top: -0.2em; vertical-align: super;}